.team-select-wrapper {
  margin: 50px auto;
  width: 90%;
}

.team-select-heading {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  text-align: center;
}

#map-wrapper {
  position: relative;
  margin: 20px;
}

#usa-map {
  width: 100%;
}

.team-wrapper {
  position: absolute;
  font-size: 1.5vw;
  /* Don't let wrappers cover up other teams' markers */
  height: 0;
  width: 0;
}

.team-marker {
  background-color: white;
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  border: 0.2vw solid;

  /* Centre the icon in the circle */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Centre the marker on the top-left corner, so that coordinates are correct */
  position: relative;
  top: -1.5vw;
  left: -1.5vw;

  animation: end-hover-animation 0.1s forwards;
}

@keyframes hover-animation {
  100% {
    transform: scale(2);
    z-index: 1;
    box-shadow: 0.3vw 0.3vw 0.9vw grey;
  }
}

@keyframes end-hover-animation {
  0% {
    transform: scale(2);
    z-index: 1;
    box-shadow: 0.2vw 0.2vw 0.6vw grey;
  }
}

.team-marker:hover {
  animation: hover-animation 0.2s forwards;
}
