.team-select-wrapper {
  margin: 50px auto;
  width: 70%;

  color: white;
  font-family: "FreeMono", "Courier New", Courier, monospace;
}

@media (max-width: 1500px) {
  .team-select-wrapper {
    width: 100%;
  }
}

.team-select-heading {
  font-size: 2rem;
  text-align: center;
}

.team-select-summary {
  font-size: 1.5rem;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .team-select-summary {
    flex-direction: column;
  }
}

.nowrap {
  white-space: nowrap;
}

.match-up-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

#list-wrapper {
  display: none;
}

@media (max-width: 1100px) {
  #list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.team-button {
  background-color: white;
  font-size: 1.5rem;
  border: 3px solid;
  border-radius: 10px;
  cursor: pointer;
}

#map-wrapper {
  position: relative;
  margin-top: 2rem;
}

@media (max-width: 1100px) {
  #map-wrapper {
    display: none;
  }
}

#usa-map {
  width: 100%;
}

.team-wrapper {
  position: absolute;
  font-size: 1.5vw;
  /* Don't let wrappers cover up other teams' markers */
  height: 0;
  width: 0;
}

.team-marker {
  background-color: white;
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  border: 0.2vw solid;

  /* Centre the icon in the circle */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Centre the marker on the top-left corner, so that coordinates are correct */
  position: relative;
  top: -1.5vw;
  left: -1.5vw;

  animation: end-hover-animation 0.1s forwards;
}

.team-marker-inline {
  background-color: white;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0.2rem solid;

  /* Centre the icon in the circle */
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes hover-animation {
  100% {
    transform: scale(2);
    z-index: 1;
    box-shadow: 0.3vw 0.3vw 0.9vw grey;
  }
}

@keyframes end-hover-animation {
  0% {
    transform: scale(2);
    z-index: 1;
    box-shadow: 0.2vw 0.2vw 0.6vw grey;
  }
}

.team-marker:hover {
  animation: hover-animation 0.2s forwards;
}
